.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.font-link {
  font-family: "Poppins", sans-serif;
}

.background {
  font-size: 2rem;
  color: transparent;
  background-image: url(../public/image/bg2.gif);
  background-size: cover;
  background-position: center;
  background-clip: text;
  line-height: 90px;
}

.bodyBg {
  background-image: url(../public/image/bgImage.png);
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
